.firstbox{
    display:block;
    margin-bottom:7px;
    width:200px;
    padding-top:6px;
    padding-bottom:6px;
    padding-left:5px;
    padding-right:5px;
    margin-top:2px;

}
.secondbox{
    display:block;
    margin-top:7px;
    width:200px;
    padding-top:6px;
    padding-bottom:6px;
    padding-left:5px;
    padding-right:5px;

}