.logo{
    width:300px;
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:9px;
    margin-top:30px;

}
.textbox{
    width:600px;
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-top:auto;
    padding-top:12px;
    padding-bottom:12px;
    padding-left:17px;
    padding-right:17px;
    font-size: 20px;
    border-radius: 27px;
    border:none;
    box-shadow: 0 1px 5px rgba(0,0,0,0.25);

}