.searchbox{
    padding-top:8px;
    padding-bottom:8px;
    padding-left:15px;
    padding-right:15px;
    margin-left:auto;
    margin-right:auto;
    border-width: 2px;
    border-radius:10px;
    border-color:rgba(0,0,0,20%);

}