.googlesearch{
    width:300px;
    padding-top:18px;
    padding-bottom:18px;
    padding-right:12px;
    padding-left:12px;
    margin-top:20px;
    margin-left:20px;
    border-style:none;
    box-shadow:0px 1px 5px  rgba(0,0, 0,0.25);
    color:black;
    border-style:none;
    border-radius: 30px;
}
