.email{
    color:grey;
    font-family: Verdana;
    font-size: 15px;
    margin-bottom:0px;
    margin-left:auto;
    margin-right:auto;
}
.textbox{
    width:460px;
    padding-top:9px;
    padding-bottom:9px;
    padding-left:8px;
    border-width: 3;
    border-style:none;
    border-radius: 5px;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.25);
    font-size: 12px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:4px;
    


}
.para{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:grey;
    font-weight: 500;
    margin-left:auto;
    margin-right:auto;
    padding-top:4px;
    padding-bottom:4px;
    padding-left:3px;
    padding-right:3px;
    margin-bottom:7px;

}
.newbutton{
    background-color: rgb(43, 163, 248);
    border:none;
    padding-top:15px;
    padding-bottom:15px;
    padding-right:170px;
    padding-left:170px;
    border-radius:30px;
    font-size:20;
    font-weight:500;
    color:white;
    margin-left:auto;
    margin-right:auto;
    
}