.card {
            display:grid;
        grid-template-columns:200px 200px 200px ;
        column-gap: 50px;
        

        

}

.subcard{

    display:grid;
    grid-template-columns: 35px 1fr;
    margin-bottom:15px;
    align-items: center;
    
   
    
    
}

.profilepic{

    width:200px;
    height:200px;

}


.profilepic2{

    width:40px;
    height:42px;
    border-radius: 200px;
    vertical-align: middle;
    object-fit: cover;
    margin-left:5px;



    

}
.newButton{

margin-left:5px;
margin-bottom:11px;

padding-top:7px;
padding-bottom:7px;
padding-left:7px;
padding-right:7px;
    border:none;
    background-color: rgb(11, 175, 245);
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border-radius: 7px;
    
}

.firstpara{

    font-family: Arial;
    color:black;
    font-weight: bold;
    font-size: 20px;
    margin-top:10px;
}

.secondpara{
    margin-left:15px;
    font-family: Arial;
    color:grey;

    


}

.newdiv{

box-shadow: 0px 1px 5px rgba(0,0,0,0.5);
    
}