.maindiv{

    display:grid;
    grid-template-columns: 500px 500px 500px 500px;
    grid-template-rows: 100px 100px 100px ;
    gap:10px;
}

.newdiv1{

    background-color: yellow;
    padding:0.5em;
    grid-row:1/3;
    grid-column:1/4;

    
}

.newdiv2{
    background-color: orange;
    padding:0.5em;
    grid-column:2/5;
    grid-row:2/4;
    
}