.container{
    width:500px;
    margin-left:auto;
    margin-right:auto;
    display:block;
    text-align: center;
    border:solid;
    border-width: 1px;
    padding-bottom:20px;
    background-color: azure;
}

.main{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
