.container{

width:500px;
padding:12px;
border:solid;
border-width: 1px;
margin-left:auto;
margin-right:auto;
border:none;
box-shadow: 0px 1px 5px rgba(0,0,0,0.5);
border-radius: 13px;
}


.image{

width:50px;
border-radius:120px;
height:50px;
display: inline-block;
vertical-align: middle;
margin-right:12px;




}


.paragraph{

display:inline-block;
vertical-align: middle;
font-family: Arial;
font-weight: 100px;
margin-right:200px;
color:grey;
padding-top:3px;
padding-bottom:3px;

}

.newbutton{

display:inline-block;
vertical-align:middle;
font-family:Arial;
padding-top:13px;
padding-bottom:13px;
padding-left:9px;
padding-right:9px;
border-radius:25px;
border:none;
background-color: rgb(46, 183, 251);;
color:white;
font-size:17px;
font-weight:bold;

}