.maindiv{
    display:flex;
    flex-direction:row;

}

.div1{
    background-color: orange;
    width:50px;

}

.div2{
    background-color: blue;
    flex:1;
}

.div3{
    background-color: blueviolet;
    width:75px;
}