.container{

    display:flex;
    flex-direction:row;
    background-color: rgb(223, 39, 223);
    justify-content: space-evenly;
    padding-top:15px;
    padding-bottom:15px;
    border-radius: 10px;



}

.paragraph{
    color:white;
    font-size: 20px;
    font-family: Arial;
}


.searchbar{
    width:400px;
    border-radius:30px; 
    border:none;
    padding-top:2px;
    padding-bottom:2px;
    padding-left:7px;
    padding-right:7px;
    font-size: 15px;
    font-family: Arial;
    



}




.newButton{
    width:100px;
    padding-top:8px;
    padding-bottom:8px;
    padding-left:4px;
    padding-right:4px;
    border:none;
    border-radius:20px;
    color:white;
    background-color: rgb(22, 88, 187);
    font-size: 15px;
    font-family: Arial;


    

}